/* Bundled fonts — Orbitron & Share Tech Mono (SIL Open Font License) */
@font-face{
  font-family:'Orbitron';
  font-style:normal;
  font-weight:400;
  font-display:swap;
  src:url('./fonts/orbitron-400.ttf') format('truetype');
}
@font-face{
  font-family:'Orbitron';
  font-style:normal;
  font-weight:700;
  font-display:swap;
  src:url('./fonts/orbitron-700.ttf') format('truetype');
}
@font-face{
  font-family:'Orbitron';
  font-style:normal;
  font-weight:900;
  font-display:swap;
  src:url('./fonts/orbitron-900.ttf') format('truetype');
}
@font-face{
  font-family:'Share Tech Mono';
  font-style:normal;
  font-weight:400;
  font-display:swap;
  src:url('./fonts/share-tech-mono-400.ttf') format('truetype');
}
